@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>BMS | Odisha</title>
    <!--favicon-->
    <link rel="icon" href="~/assets/images/kd.png" type="image/x-icon">
    <!-- Bootstrap core CSS-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Custom Style-->
    <link href="~/assets/css/app-style.css" rel="stylesheet" />

</head>
<body style="background-image: url(../assets/images/back.jpg); background-size: cover; background-position: center;">
    
    <!-- Start wrapper-->
    <div id="wrapper">
        <div class="card card-primary card-authentication1 mx-auto animated bounceInDown" style="margin-top: 215px;">
            <div class="card-body">
                <div class="card-content p-2">
                    <div class="text-center pb-3"><img src="~/assets/images/logo1.png" class="img-fluid"></div>

                    @using (Html.BeginForm("Index", "Login", new { FormMethod.Post }))
                    {
                        <div class="form-group">
                            <div class="position-relative has-icon-right">
                                <label for="exampleInputUsername" class="sr-only">Username</label>
                                <input type="text" name="username" id="exampleInputUsername" class="form-control form-control-rounded" placeholder="Username">
                                <div class="form-control-position">
                                    <i class="icon-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="position-relative has-icon-right">
                                <label for="exampleInputPassword" class="sr-only">Password</label>
                                <input type="password" name="password" id="exampleInputPassword" class="form-control form-control-rounded" placeholder="Password">
                                <div class="form-control-position">
                                    <i class="icon-lock"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-row mr-0 ml-0">
                            <div class="form-group col-6">
                                <div class="demo-checkbox">
                                    <input type="checkbox" id="user-checkbox" class="filled-in chk-col-primary" checked="" />
                                    <label for="user-checkbox">Remember me</label>
                                </div>
                            </div>
                            <div class="form-group col-6 text-right">
                                <a href="reset-password.php">Reset Password</a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-round btn-block waves-effect waves-light" >Sign In</button>
                    }
                </div>
            </div>
        </div>

        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->
    </div><!--wrapper-->
    <!-- Bootstrap core JavaScript-->

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

</body>

</html>


